<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716194157638-c3npmd33d7iitbnp990uuasnc36nq860.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716194157638-c3npmd33d7iitbnp990uuasnc36nq860</string>
	<key>API_KEY</key>
	<string>AIzaSyA3ezqlY89Gn1KzLcZSUrZTe1W9MAJwcQM</string>
	<key>GCM_SENDER_ID</key>
	<string>716194157638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-ef12c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-ef12c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716194157638:ios:060bd11f4f27b1a1f9a647</string>
</dict>
</plist>